@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
}

body {
    background-image: url("../images/homecmpt.png");
    background-color: black;
    background-size: 100% 100vh;
    color: white;
}

main {
    height: 100vh;
    width: 100%;
}

.botao {
    background-color: #ED962F;
    font-weight: bold;
    font-size: 17px;
    height: 50px;
    width: 200px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    transition: transform 0.5s ease, color 0.3s ease;
    margin: 40% 0% 0% 5%;
}

.botao:hover {
    transform: scale(1.1);
    background-color: #ed972fe0;
    color: #030100;
}

/* Media query para telas de 1400x1050 ou menores */
@media screen and (max-width: 1400px) and (max-height: 1050px) {
    .botao {
        font-size: 14px;
        height: 43px;
        width: 180px;
        border-radius: 12px;
        margin: 55% 0% 0% 6%;
    }
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
    .botao {
        font-size: 12px;
        height: 41px;
        width: 170px;
        border-radius: 11px;
        margin: 41% 0% 0% 6%;
    }
}
@media screen and (max-width: 1280px) and (max-height: 800px) {
    .botao {
        font-size: 11px;
        height: 39px;
        width: 180px;
        border-radius: 10px;
        margin: 45% 0% 0% 8%;
    }
}
@media screen and (max-width: 1280px) and (max-height: 600px) {
    .botao {
        font-size: 11px;
        height: 30px;
        width: 120px;
        border-radius: 9px;
        margin: 30% 0% 0% 8%;
    }
    
}
@media screen and (max-width: 800px) and (max-height: 600px) {
    .botao {
        font-size: 10px;
        height: 28px;
        width: 120px;
        border-radius: 9px;
        margin: 45% 0% 0% 6%;
    }
}
