@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
* {
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
}

body {
    background-color: rgb(0, 0, 0);
}

img {
    height: 7vh;
    padding-left: 2%;
    padding-top: 0.80vh;
}

h1 {
    padding-bottom: 5%;
}

.container-inputs {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 5%;
    padding: 7%;
    background-color: rgb(17, 24, 39);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

input {
    margin-bottom: 3%;
}

h3 {
    margin-top: 4%;
}

a {
    color: rgb(138, 142, 204);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    display: block;
    margin: auto;
    margin-top: 4%;
    display: block;
    background-color: rgb(255, 121, 6);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    width: 8vw;
    height: 6vh;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.25s ease;
}

/* TODO -> Readptar as propriedas de responsividade em TODAS as páginas da aplicação
@media screen and (max-width: 1400px) and (max-height: 1050px) {
    .tx1 {
        font-size: 50px;
    }
    .tx2 {
        font-size: 17px;
    }

    .nome {
        font-size: 12px;
        margin-top: 9%;
    }    
    .inputs1 {
        font-size: 15px;
        height: 31px;
        width: 230px;
    
    }
    #data {
        font-size: 15px;
        height: 31px;
        width: 230px;
    }

    .but-entrar {
        font-size: 15px;
        margin-top: 17%;
        height: 31px;
        width: 150px;
    }
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
    .tx1 {
        font-size: 47px;
    }
    .tx2 {
        font-size: 15px;
    }

    .nome {
        font-size: 10px;
        margin-top: 10%;
    }    
    .inputs1 {
        font-size: 13px;
        height: 29px;
        width: 220px;
    
    }
    #data {
        font-size: 13px;
        height: 29px;
        width: 220px;
    }

    .but-entrar {
        font-size: 13px;
        margin-top: 19%;
        height: 29px;
        width: 140px;
    }
}
@media screen and (max-width: 1280px) and (max-height: 800px) {
    .tx1 {
        font-size: 44px;
    }
    .tx2 {
        font-size: 15px;
    }

    .nome {
        font-size: 10px;
        margin-top: 10%;
    }    
    .inputs1 {
        font-size: 13px;
        height: 29px;
        width: 220px;
    
    }
    #data {
        font-size: 13px;
        height: 29px;
        width: 220px;
    }

    .but-entrar {
        font-size: 13px;
        margin-top: 19%;
        height: 29px;
        width: 140px;
    }
}

@media screen and (max-width: 1280px) and (max-height: 600px) {
    .tx1 {
        font-size: 34px;
    }
    .tx2 {
        font-size: 13px;
    }

    .nome {
        font-size: 9px;
        margin-top: 8%;
    }    
    .inputs1 {
        font-size: 13px;
        height: 25px;
        width: 200px;
    
    }
    #data {
        font-size: 13px;
        height: 25px;
        width: 200px;
    }

    .but-entrar {
        font-size: 11px;
        margin-top: 19%;
        height: 25px;
        width: 120px;
    }
}
@media screen and (max-width: 800px) and (max-height: 600px) {
    .tx1 {
        font-size: 34px;
    }
    .tx2 {
        font-size: 13px;
    }

    .nome {
        font-size: 9px;
        margin-top: 8%;
    }    
    .inputs1 {
        font-size: 13px;
        height: 25px;
        width: 200px;
    
    }
    #data {
        font-size: 13px;
        height: 25px;
        width: 200px;
    }

    .but-entrar {
        font-size: 11px;
        margin-top: 19%;
        height: 25px;
        width: 120px;
    }
}
*/
