@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
* {
    font-family: "Josefin Sans", sans-serif;
    padding: 0;
    margin: 0;
}


body {
    background-color: #000;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    color: white;
}
main {
    height: 100vh;
    width: 100%;
    display: flex;
}

.div-1 {
    background-image: linear-gradient(to bottom left, #150800, #080300, #030100, #000, #000, #000, #010000, #150800, #311300, #511F00, #702A00, #91410E, #A8541F);
}

.div-2 {
    background-image: linear-gradient(to bottom left, #A8541F, #91410E, #702A00, #511F00, #311300, #150800, #080300, #030100, #000, #000, #000, #010000, #150800, #311300, #511F00, #702A00, #91410E, #A8541F);
   
}

.div-painel {
    display: flex;
    align-items: center;
}

.div-mercado {
    display: flex; /* cor do hover #FF7300*/
    padding: 15px;
    margin-top: 19px;
}
.div-tranzacao {
    display: flex;
    padding: 15px;
    margin-top: 19px;
}
.div-opcoes {
    display: flex;
    padding: 15px;
    align-items: center;
    margin-top: 19px;
}

.bemvindo {
    display: flex;
    margin-top: 25px;
    padding: 25px;
    justify-content: space-between;
}

.imguser {
    margin: 12px;
}

.linha-user {
    display: flex;
    cursor: pointer;
    align-items: center;
    transition: transform 0.5s ease, color 0.3s ease;
}

.linha-user:hover {
    transform: scale(1.1);
}

.portifolio {
    display: flex;
    margin-left: 20px;
    padding: 1px;
    justify-content: space-between;
}
.vertudo {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s ease, color 0.3s ease;
    margin: 20px;
}

.vertudo:hover {
    transform: scale(1.1);
}

.seta {
    color: #FF7300;
}

.div-grafcos1 {
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
}

.div-graficos2 {
    display: flex; 
    margin-left: 50px;
    margin-right: 60px;
    padding: 15px;
}
.imggrafc{
    width: 479.6px;
    height: 237px;
}

#img1 {
    margin: 15px;
}
#img2 {
    margin: 15px;
}
#img3 {
    margin: 15px;
}
.imggrafcgeral {
    width: 780px;
    height: 383px;
    margin: 15px;
}


.imglistaEmmpresas {
    width: 374px;
    height: 383px;
    margin: 15px;
    margin-left: 45px;
}

.logo {
    margin-top: 25px;
    width: 245px;
    height: auto;
}

.barra-esquerda {
    margin-top: 50px;
}

.barra1{
   margin-left: 25px;
}

.div-painel {
    height: 53px;
    width: 235px;
    display: flex;
    align-items:center;
    cursor: pointer;
}

.div-mercado {
    height: 22px;
    width: 219px;
    align-items: center;
    margin-left: -12px;
    cursor: pointer;
}

.div-tranzacao {
    height: 25px;
    width: auto;
    align-items: center;
    margin-left: -7px;
    cursor: pointer;
}

.div-opcoes {
    height: 25px;
    width: auto;
    align-items: center;
    margin-left: -2px;
    cursor: pointer;
}
.painel {
    height: 39px;
    width: auto;
    margin-right: 22px;
}
.mercado {
    height: 28px;
    width: auto;
    margin-right: 22px;
}
.tranzacao {
    height: 45px;
    width: auto;
    margin-right: 22px;
}
.opcoes {
    height: 30px;
    width: auto;
    margin-right: 22px;
}

.div-painel:hover {
    background-color: #FF7300;
}

.div-mercado:hover {
    background-color: #FF7300;
}

.div-tranzacao:hover {
    background-color: #FF7300;
}
.div-opcoes:hover {
    background-color: #FF7300;
}

.bemv {
    font-size: 16px;
}

.lab-user-tex {
    font-size: 16px;
}

.tudo {
    font-size: 14px;
}

.seta {
    font-size: 25px;
}

@media screen and (max-width: 1400px) and (max-height: 1050px) {

}

@media screen and (max-width: 1366px) and (max-height: 768px) {    
    .div-mercado {
        padding: 11px;
        margin-top: 15px;
    }
    .div-tranzacao {
        display: flex;
        padding: 11px;
        margin-top: 15px;
    }
    .div-opcoes {
        display: flex;
        padding: 11px;
        align-items: center;
        margin-top: 15px;
    }
    
    .bemvindo {
        display: flex;
        margin-top: 5px;
        padding: 21px;
    }
    
    .imguser {
        margin: 7px;
        height: 25px;
        width: auto;
    }
    
    .portifolio {
        display: flex;
        margin-left: 20px;
        justify-content: space-between;
    }
    
    .vertudo {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: transform 0.5s ease, color 0.3s ease;
        margin: 10px;
    }
    
    .vertudo:hover {
        transform: scale(1.1);
    }
    
    .seta {
        color: #FF7300;
    }
    
    .div-grafcos1 {
        display: flex;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .div-graficos2 {
        display: flex; 
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 21px;
    }
    .imggrafc{
        width: 330px;
        height: 156px;
        justify-content: space-between, 5px;
    }
    
    #img1 {
        margin: 9px;
    }
    #img2 {
        margin: 9px;
    }
    #img3 {
        margin: 9px;
    }
    .imggrafcgeral {
        width: 600px;
        height: 270px;
        margin: px;
    }
    
    
    .imglistaEmmpresas {
        width: 250px;
        height: 270px;
        margin: px;
        margin-left: 45px;
    }
    
    .logo {
        margin-top: 25px;
        width: 195px;
        height: auto;
    }
    
    .barra-esquerda {
        margin-top: 35px;
    }
    
    .barra1{
       margin-left: 15px;
    }
    
    .div-painel {
        height: 45px;
        width: 225px;
    }
    
    .div-mercado {
        height: 19px;
        width: 207px;
        margin-left: -12px;
    }
    
    .div-tranzacao {
        height: 19px;
        width: 207px;
        margin-left: -7px;
    }
    .div-opcoes {
        height: 19px;
        width: 207px;
        margin-left: -2px;
    }
    .painel {
        height: 30px;
        width: auto;
        margin-right: 22px;
    }
    .mercado {
        height: 22px;
        width: auto;
        margin-right: 22px;
    }
    .tranzacao {
        height: 39px;
        width: auto;
        margin-right: 22px;
    }
    .opcoes {
        height: 27px;
        width: auto;
        margin-right: 22px;
    }
    
    .div-painel:hover {
        background-color: #FF7300;
    }
    
    .div-mercado:hover {
        background-color: #FF7300;
    }
    
    .div-tranzacao:hover {
        background-color: #FF7300;
    }
    .div-opcoes:hover {
        background-color: #FF7300;
    }
    
    .bemv {
        font-size: 11.5px;
    }
    
    .lab-user-tex {
        font-size: 11px;
    }
    
    .port {
        font-size: 11px;
    }
    .tudo {
        font-size: 11px;
    }

    .lab-painel {
        font-size: 14px;
    }

    .lab-mercado {
        font-size: 14px;
    }
    .lab-transacao {
        font-size: 14px;
    }
    .lab-opcoes {
        font-size: 14px;
    }
    
}

@media screen and (max-width: 1280px) and (max-height: 800px) {

}

@media screen and (max-width: 1280px) and (max-height: 600px) {

}

@media screen and (max-width: 800px) and (max-height: 600px) {

}